*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jpt.core.prefs
.settings/org.eclipse.jpt.entitygen.informatik-derby-db1.app
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.settings/org.hibernate.eclipse.console.prefs
.svn/entries
.svn/format
*.svn-base
target/classes/application.properties
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/org.psc/wa-auth/pom.properties
target/classes/META-INF/maven/org.psc/wa-auth/pom.xml
target/classes/META-INF/persistence.xml
target/classes/templates/create-account.html
target/classes/templates/greeting.html
target/classes/templates/home-sec.html
target/classes/templates/home.html
target/classes/templates/login.html
target/classes/templates/user-home.html
target/test-classes/logback-test.xml
target/classes/application.properties
target/classes/templates/create-account.html
target/classes/templates/greeting.html
target/classes/templates/home-sec.html
target/classes/templates/home.html
target/classes/templates/login.html
target/test-classes/logback-test.xml
.svn/wc.db
/.apt_generated/
/target/
*.prefs
target/classes/templates/home.html
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/wa-auth-0.0.1-SNAPSHOT.jar.original
