<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>wa-auth crate account</title>
</head>
<body>
	<form th:action="@{/create-account}" th:object="${userRegistrationBean}" method="post">
		<div>
			<label>User Name: <input type="text" id="userName" name="userName" /></label>
		</div>
		<div>
			<label>Email Address: <input type="text" id="emailAddress" name="emailAddress" /></label>
		</div>
		<br>
		<div>
			<label> Account Name: <input type="text" id="accountName" name="accountName" />
			</label>
		</div>
		<div>
			<label>Password: <input type="password" id="password" name="password" />
			</label>
		</div>
		<div>
			<label>Confirm Password: <input type="password" id="confirmationPassword"
				name="confirmationPassword" />
			</label>
		</div>
		<br>
		<div>
			<input type="submit" value="create account" />
		</div>
	</form>
</body>
</html>